ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.collapse__container {
    margin:  20px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.collapse__container h2 {
    font-size: 18px;
}

.collapse__header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 12px 12px 0;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collapse__button {
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: url(../../assets/icons/down-arrow.svg);
    background-position: center;
}

.product__list {
    overflow: hidden;
}

.product__list {
    transition: ease 0.3s;
    /* transform: rotateX(90deg); */
    height: 0px;
}

/* .open {
    height: auto;
} */


.show {
    display: block;
}

.collapse__input:checked ~ .product__list {
    transition: all 0.3s;
    transform: rotateX(0);
    height: auto;
}
.collapse__input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}