ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.collapse__container {
    margin:  20px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.collapse__container h2 {
    font-size: 18px;
}

.collapse__header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 12px 12px 0;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collapse__button {
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: url(../../assets/icons/down-arrow.svg);
    background-position: center;
}

.product__list {
    overflow: hidden;
}