@import './variables.scss';
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    src: local('Manrope'), url('../../assets/fonts/Manrope-Medium.ttf');
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  max-width: 390px;
  height: 100%;
  margin: 0 auto;
  color: var(--main-color);
  font-family: 'Manrope', 'sans-serif';
  scroll-behavior: smooth;
}

body.dark-theme {
  color: aliceblue;
}

#root {
  width: 100%;
  height: 100%;
  font-family: 'Manrope', 'sans-serif';
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

#root::-webkit-scrollbar {
  width: 5px;
  background-color: aqua;
}
#root::-webkit-scrollbar-thumb {
 border-radius: 30%;
 background-color: azure;
}

.main {
  padding: 25px;
}

.create__button {
  padding: 24px;
  background: var(--80, rgba(0, 0, 0, 0.80));
  color: #fff;
  border-radius: 40px;
  font-size: 22px;
  text-align: center;
  margin: 18px 0 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.error {
  background-color: #F22525;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}

.danger {
  background-color: #F08624;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}