.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    
}

.modal__container {
    box-sizing: border-box;
    max-width: 390px;
    padding: 20px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: fixed;
    background-color: #fff;
    height: 500px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.modal__title {
    font-size: 26px;
}

.modal__body label{
color: var(--40, rgba(0, 0, 0, 0.40));
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 15.4px */
display: flex;
flex-direction: column;
gap: 8px;
margin-top: 20px;
}

.modal__body input[type="text"], input[type='date'] {
    padding: 16px 34px;
    border-radius: 20px;
    border: 1px solid var(--10, rgba(0, 0, 0, 0.10));
    background: var(--10, rgba(0, 0, 0, 0.10));
}

.modal__body input::placeholder{
    color: var(--40, rgba(0, 0, 0, 0.40));
    font-size: 22px;
    margin: 0;
    padding: 0;
}


  .input__container label {
    display: flex;
    flex-direction: row;
    color: black;
  }

  .input__container input {
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0;
  }

  .modal__close {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-image: url(../../assets/icons/close-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }