.product__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-top:  solid var(--10, rgba(0, 0, 0, 0.10));
}

.input__container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}




.product__checkbox {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    border: 1px rgba(0, 0, 0, 0.10) solid;
    cursor: pointer;
    margin-right: 10px;
}

.product__checkbox::before {
    content: url(../../assets/icons/checked-icon.svg);
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    /* border: 1px #46981D solid; */
    border-radius: 50%;
    /* background-color: #52B620; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.product__info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product__quantity {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.40);
}




  label .product__input:checked ~ .product__checkbox::before {
    display: block;
  }

